# ignore cache folder
/silverstripe-cache/

# ignore all environment files
.env
_ss_environment.php

# ignore build tools
/tools/phing-metadata
/themes/future-imperfect/.sass-cache/

# ignore composer vendor folder
/vendor/

# ignore assets
/assets/
/resources/
# ignore phpstorm stuff
/.idea/

# ignore secret things
andante.pem
